@model pmf_2.Models.project
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>C O Log</h1>
</div>
<div>
    @using (Html.BeginForm("Index", "co_log", null, FormMethod.Post, null))
    {
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.project_name, "project_name", htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.DropDownList("project_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.project_Id, "", new { @class = "text-danger" })
                </td>
                <td width="300">
                    <input id="btnRefresh" type="submit" value="Submit" class="btn-default" style="border:none; color:#428bca; fill-opacity:inherit" />
                </td></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
        <tr>
        <td>
        </td>
            <td></td>
            <td>
                <div class="row">
                    <div class="col-md-4">
                        @Html.ActionLink("Change Order Log", "Index", "co_log", "null", "null")
                        <br />
                        @Html.ActionLink("Project Manager", "Index", "proj_man", "null", "null")
                        <br />
                        @Html.ActionLink("Projects", "Index", "projects", "null", "null")
                    </div>
                </div>

            </td>
        </tr>
        
        
        </table>
        @*<div class="form-group">
            @Html.EditorFor(model => model.project_name, new { htmlAttributes = new { @class = "form-control" } })
            <div class="col-md-10">
                @Html.DropDownList("project_Id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.project_name, "", new { @class = "text-danger" })
            </div>
        </div>*@
        @*<div>
            <input id="btnRefresh" type="submit" value="Submit" class="btn-default" style="border:none; color:#428bca; fill-opacity:inherit" />
        </div>*@
    }
</div>
