@model pmf_2.Models.co_log

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>co_log</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.co_num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.co_num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.n_proc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.n_proc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gc_co)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gc_co)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.owed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.owed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.project.project_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project.project_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.co_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
